*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
body{
	background: radial-gradient(circle, rgba(51,25,5,1) 0%, rgba(178,124,79,1) 34%, rgba(125,89,63,1) 67%, rgba(59,42,21,1) 100%);

}

.container{
	max-width:1140px;
	margin:0 auto;
}
.chess{
	width:800px;
	height:100vh;
	border:30px groove #8b4513;
	margin:0 auto;
}
.black{
	width:calc(100% - 87.5%);
	height:calc(100% - 87.5%);
	background-color:#5D4037;
	float:left;
	font-size:50px;
	text-align:center;
	color:white;
}
.white{
	width:calc(100% - 87.5%);
	height:calc(100% - 87.5%);
	background-color:white;
	float:left;
	font-size:50px;
	text-align:center;
	color:#5D4037;
}